.rain-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: transparent;
    z-index: -1;
}

.drop {
    position: absolute;
    top: -20vh;
    width: 2px;
    height: 22px;
    font-size: 20px;
    color: rgb(255, 225, 0);
    transform-origin: top center;
    animation: fall linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(10vh);
    }

    100% {
        transform: translateY(110vh);
    }
}